
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Book database</title>
</head>

<body>
    <header class="header">
        <h1 class="header__title">Book database</h1>
        <nav class="header__nav">
            <ul class="header__menu">
                <li class="header__item">
                    <a href="/WebSite/index.php" class="header__link">Account</a>
                </li>
                <li class="header__item">
                    <a href="/WebSite/booksList.php" class="header__link">Database of books</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container">